hr{
    position: relative;
    top: 20px;
    border: none;   
    height: 12px;
    background: black;
}
.wait{
    text-align: center;
    margin-top: 5rem;
}
/* Experimenting with code */
.App {
    background-image: url('/src/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
